APP_ENV=development
FLASK_ENV=development
FLASK_DEBUG=true

# Required in production. Use a long, random value.
SECRET_KEY=123456789

# Required to access /admin
ADMIN_USERNAME=IAN
ADMIN_PASSWORD=Dan43
